.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 90px;
  padding-top: 25px;
  border: 1px solid rgba(165, 165, 165, 0.538);
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.352);

  .container {
    .content {
      display: flex;
      justify-content: space-between;
      padding-right: 55px;

      @media (max-width: "1344px") {
        display: none;
      }

      .left {
        display: flex;
        align-items: center;
        padding-inline: 25px;
        gap: 10px;
        color: white;
        text-decoration: none;
        cursor: pointer;

        .heading {
          display: flex;
          flex-direction: column;

          .border {
            border: 2px solid #ffffff;
            width: 100%;
            max-width: 75%;
            margin-top: 3px;
          }
        }


        img {
          width: 40px;
          border: 2px solid #ffffff;
          border-radius: 100%;
        }

        p {
          font-weight: 500;
          font-size: 20px;
        }
      }

      .center {
        display: flex;
        align-items: center;
        gap: 30px;

        .nav {
          display: flex;
          align-items: center;
          gap: 30px;

          p {
            font-weight: 500;
            cursor: pointer;

            &:hover {
              border: 2px solid rgb(173, 173, 173);
              border-top: 0px;
              border-left: 0px;
              border-right: 0px;
              transition: 0.1s;
            }
          }
        }
      }

      .right {
        display: flex;
        align-items: center;

        p {
          font-weight: 500;
          cursor: pointer;

          &:hover {
            border: 2px solid rgb(173, 173, 173);
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            transition: 0.1s;
          }
        }
      }
    }


    .mini_content {
      display: none;

      @media (max-width: "1344px") {
        display: flex;
      }

      justify-content: space-between;
      padding-right: 20px;

      .heading {
        display: flex;
        align-items: center;
        padding-inline: 25px;
        gap: 10px;
        cursor: pointer;

        .title {
          display: flex;
          flex-direction: column;
        }

        .border {
          border: 2px solid #ffffff;
          width: 100%;
          max-width: 75%;
          margin-top: 3px;
        }
      }

      img {
        width: 40px;
        border: 2px solid #ffffff;
        border-radius: 100%;
      }

      p {
        font-weight: 500;
        font-size: 20px;
      }

      .menu {
        position: fixed;
        background-color: rgba(55, 51, 51, 0.945);
        z-index: 10;
        width: 100%;
        max-width: 250px;
        height: 300px;
        top: 0;
        left: 0;
        transition: all ease-in-out 1.5s;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        .scrollbox {
          width: 100%;
          overflow: auto;

          .scrollbox_inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 25px;
              font-weight: 900;
              text-transform: uppercase;
              font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
              letter-spacing: 1px;
              margin-top: 10px;
            }

            .border {
              margin-top: 10px;
              margin-bottom: 10px;
              width: 90%;
              border: 1px solid white;
            }

            .nav_div {
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: start;
              width: 100%;

              .nav {
                display: flex;
                align-items: center;
                width: 100%;
                height: 40px;
                transition: 0.3s;

                &:hover {
                  background-color: rgba(187, 181, 181, 0.147);
                  height: 50px;
                  transition: 0.3s;
                }

                p {
                  margin-inline: 10px;
                }
              }
            }
          }
        }
      }

      .menu_no {
        position: fixed;
        background-color: rgba(55, 51, 51, 0.927);
        z-index: 10;
        width: 100%;
        max-width: 250px;
        height: 300px;
        top: 0;
        left: -400px;
        transition: all ease-in-out 1.5s;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        .scrollbox {
          width: 100%;
          overflow: auto;

          .scrollbox_inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 25px;
              font-weight: 900;
              text-transform: uppercase;
              font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
              letter-spacing: 1px;
              margin-top: 10px;
            }

            .border {
              margin-top: 10px;
              margin-bottom: 10px;
              width: 90%;
              border: 1px solid white;
            }

            .nav_div {
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: start;
              width: 100%;

              .nav {
                display: flex;
                align-items: center;
                width: 100%;
                height: 40px;
                transition: 0.3s;

                &:hover {
                  background-color: rgba(187, 181, 181, 0.147);
                  height: 50px;
                  transition: 0.3s;
                }

                p {
                  margin-inline: 10px;
                }
              }
            }
          }
        }
      }

      .nav-icon-5 {
        width: 35px;
        height: 30px;
        margin: 10px 10px;
        position: relative;
        cursor: pointer;
        display: inline-block;

        span {
          background-color: #fff;
          position: absolute;
          border-radius: 2px;
          transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
          width: 100%;
          height: 4px;
          transition-duration: 500ms;
        }

        span:nth-child(1) {
          top: 0px;
          left: 0px;
        }

        span:nth-child(2) {
          top: 13px;
          left: 0px;
          opacity: 1;
        }

        span:nth-child(3) {
          bottom: 0px;
          left: 0px;
        }

        &.open span:nth-child(1) {
          transform: rotate(45deg);
          top: 13px;
        }

        &.open span:nth-child(2) {
          opacity: 0;
        }

        &.open span:nth-child(3) {
          transform: rotate(-45deg);
          top: 13px;
        }
      }
    }
  }
}