.home {
  margin-inline: 100px;

  @media (max-width: "1060px") {
    margin-inline: 20px;
  }

  @media (max-width: "1211px") {
    margin-bottom: 0;
  }

  .main_container {
    width: 100%;
    max-width: 1800px;
    margin-inline: auto;
    padding-inline: 20px;

    @media (max-width: "1483px") {
      max-width: 1300px;
    }

    .smooth {
      height: 100px;
      width: 100%;
    }
  }

  .container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 20px;

    .content {
      .background {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        .sides {
          display: flex;
          justify-content: space-between;
          align-items: start;
          width: 100%;

          @media (max-width: "1200px") {
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column-reverse;
          }

          .left {
            width: 100%;
            max-width: 50%;

            @media (max-width: "1200px") {
              max-width: 100%;
              margin-top: 20px;
            }

            .heading {
              display: flex;
              align-items: center;
              gap: 5px;

              h1 {
                font-size: 70px;
                text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
                margin-bottom: 35px;

                @media (max-width: "1483px") {
                  font-size: 60px;
                  margin-bottom: 0;
                }

                @media (max-width: "1200px") {
                  display: flex;
                  justify-content: start;
                  align-self: start;
                  font-size: 55px;
                }

                @media (max-width: "744px") {
                  font-size: 45px;
                }

                @media (max-width: "504px") {
                  font-size: 35px;
                }

                @media (max-width: "440px") {
                  font-size: 35px;
                  margin-inline: 25px;
                }

                @media (max-width: "398px") {
                  font-size: 35px;
                  margin-inline: 0;
                }
              }
            }

            .description {
              width: 100%;
              max-width: 75%;
              font-size: 27px;
              letter-spacing: 0.5px;
              line-height: 40px;
              text-align: start;
              font-weight: 500;
              text-shadow: -4px 6px 6px rgba(0, 0, 0, 1);

              @media (max-width: "1483px") {
                font-size: 22px;
                line-height: 32px;
              }

              @media (max-width: "910px") {
                margin-top: 18px;
                line-height: 27px;
              }

              @media (max-width: "744px") {
                font-size: 18px;
                line-height: 32px;
              }

              @media (max-width: "440px") {
                margin-inline: 25px;
              }

              @media (max-width: "398px") {
                font-size: 18px;
                line-height: 26px;
                margin-inline: 0;
              }

            }

            button {
              border: 2px solid white;
              color: white;
              padding: 5px 10px;
              letter-spacing: 1px;
              font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
              border-radius: 6px;
              font-weight: 600;
              margin-top: 30px;
              background-color: rgba(18, 18, 18, 0.841);
              text-transform: uppercase;
              font-size: 28px;
              transition: 0.3s;
              cursor: pointer;

              &:hover {
                transition: 0.3s;
                border: 2px solid rgba(255, 255, 255, 0.604);
                background-color: rgba(18, 18, 18, 0.182);
                color: rgba(227, 222, 222, 0.762);
              }


              @media (max-width: "1483px") {
                font-size: 21px;
              }

              @media (max-width: "440px") {
                margin-inline: 20px;
              }

              @media (max-width: "398px") {
                margin-inline: 0;
              }
            }
          }

          .right {
            @media (max-width: "910px") {
              align-self: start;
            }

            @media (max-width: "443px") {
              align-self: center;
            }

            img {
              width: 100%;
              max-width: 2000px;
              filter: drop-shadow(1px 1px 20px rgba(255, 255, 255, 0.882));

              @media (max-width: "1277px") {
                width: 550px;
              }

              @media (max-width: "1200px") {
                width: 650px;
              }

              @media (max-width: "744px") {
                width: 550px;
              }

              @media (max-width: "684px") {
                width: 450px;
              }

              @media (max-width: "504px") {
                width: 350px;
              }

              @media (max-width: "443px") {
                width: 300px;
              }
            }
          }
        }
      }

      .reference_div {
        display: flex;
        justify-content: flex-start;
        align-items: start;
        flex-direction: column;
        width: 100%;
        margin-top: 25px;


        @media (max-width: "684px") {
          margin-right: 0px;
        }

        .border {
          display: flex;
          align-self: start;
          border: 1px solid white;
          width: 100%;
          max-width: 450px;
          margin-top: 20px;

          @media (max-width: "541px") {
            max-width: 300px;
          }
        }

        .references {
          display: flex;
          justify-content: start;
          align-self: start;
          gap: 10px;
          color: white;
          margin-top: 10px;
          font-size: 15px;
          font-weight: 600;
          letter-spacing: 1px;

          a {
            color: rgb(150, 150, 220);
          }

          @media (max-width: "604px") {
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}