@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.fact {
  width: 100%;
  margin-top: 150px;

  .container {
    .background {
      padding: 15px 0px 10px 0px;
      margin: auto;

      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-inline: 20px;

        h1 {
          color: rgb(226, 222, 222);
          font-weight: 500;
          font-family: "Anton", sans-serif;
          font-size: 30px;
          letter-spacing: 2px;
          text-decoration: underline;
        }

        p {
          color: rgb(255, 255, 255);
          font-weight: 600;
          font-size: 18px;
          letter-spacing: 1px;
          margin-top: 10px;
        }

        .cards {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          margin-top: 15px;
          gap: 30px;
          margin-inline: 300px;

          @media (max-width: "1614px") {
            margin-inline: 200px;
          }

          @media (max-width: "1415px") {
            margin-inline: 0px;
          }


          .card_one {
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.101);
            padding: 16px 13px;
            border-radius: 8px;
            width: 100%;
            max-width: 300px;
            text-align: start;
            height: 420px;
            border: 3px solid rgb(62, 60, 60);

            .title {
              margin-top: 10px;
              margin-bottom: 5px;
              font-weight: 500;
              font-size: 18px;
            }

            .border1 {
              border: 1px solid white;
              width: 100%;
            }

            p {
              font-weight: 400;
              font-size: 16px;
              color: white;
            }

            img {
              width: 100%;
              max-width: 300px;
              border-radius: 8px;
              border: 2px solid rgb(180, 180, 180);
            }
          }
        }

        .reference_div {
          display: flex;
          justify-content: flex-start;
          align-items: start;
          flex-direction: column;
          margin-top: 25px;
          width: 100%;
          max-width: 1200px;
          margin-inline: auto;
          padding-inline: 20px;

          .border {
            display: flex;
            align-items: start;
            justify-content: start;
            border: 1px solid white;
            width: 100%;
            margin-inline: 30px;
            max-width: 750px;
            margin-top: 20px;

            @media (max-width: "1001px") {
              max-width: 500px;
            }

            @media (max-width: "616px") {
              max-width: 400px;
            }

            @media (max-width: "541px") {
              max-width: 300px;
            }

            @media (max-width: "386px") {
              max-width: 250px;
            }
          }

          .references {
            display: flex;
            align-items: start;
            justify-content: start;
            flex-wrap: wrap;
            gap: 10px;
            color: white;
            padding-inline: 30px;
            margin-top: 10px;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 1px;

            a {
              color: rgb(150, 150, 220);
            }

            @media (max-width: "604px") {
              flex-wrap: wrap;
            }
          }
        }
      }
    }
  }
}